.VideoModuleDemo-Table {
  width: 100%;
  height: 100%;
}

.VideoModuleDemo-col1 {
  width: 75%;
}

.VideoModuleDemo-col2 {
  width: 25%;
  height:100%;  
}

.VideoModuleDemo-Thumb {
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  margin-left: 16px;
  color: #ffffff;
  text-decoration: none;
}

.VideoModuleDemo-Thumb img {
  width:36px;
  height:36px;
}

.VideoModuleDemo-Thumb1 {
  xbackground-image: url("https://FRANKLYDEMO.images.worldnow.com/images/18020840_G.jpeg");
  background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent), url("https://FRANKLYDEMO.images.worldnow.com/images/18020840_G.jpeg"); /* W3C */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-bottom: 16px solid #fff;
}
.VideoModuleDemo-Thumb2 {
  background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent), url("https://FRANKLYDEMO.images.worldnow.com/images/18018385_G.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.VideoModuleDemo-Thumb3 {
  background-image: linear-gradient(0deg,rgba(0,0,0,.5),transparent), url("https://FRANKLYDEMO.images.worldnow.com/images/18055016_G.jpeg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  border-top: 16px solid #fff;
}
